<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/list.css" />
    <script src="../js/index.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/" style="font-size: 23px; color: #fff">Home</a>
          </li>
          <li><a href="/profile.html">Profile</a></li>
          <li><a id="logout" href="/login.html">Logout</a></li>
          <li><a href="/register.html">Register</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Register and Login App</h1>
      <p>Registartion and Logining Functionality</p>
    </main>
    <footer>
      <p>tornike &copy; 2022</p>
    </footer>
  </body>
</html>
