<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/forms.css" />
    <script src="../js/login.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <a href="/profile.html">Profile</a>
          </li>
          <li>
            <a href="/login.html" style="font-size: 23px; color: #fff">Login</a>
          </li>
          <li>
            <a href="/register.html">Register</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Sign In</h2>
      <form id="register-form">
        <div class="label-input-container">
          <label>Email</label>
          <input type="email" placeholder="Enter your Email" id="email-input" />
        </div>
        <div class="label-input-container">
          <label>Password</label>
          <input
            type="password"
            placeholder="Enter your Password"
            id="password-input"
          />
        </div>
        <div id="register-submit" class="label-input-container">
          <button type="submit">Login</button>
        </div>
      </form>
    </main>
    <footer>
      <p>tornike &copy; 2022</p>
    </footer>
  </body>
</html>
